@model User
<div class="job-profile-container">
    <div class="card-profile">
        <h1 class="job-title-details">@Model.Username</h1>
        <span>Phone: @Model.Phone</span>
    </div>
    <div class="setting-progile">
         
    </div>
</div>